<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <%= link_to '添加新渠道', new_channel_url, class: 'btn btn-success' %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <table class="table table-bordered table-hover table-condensed">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Edit Times</td>
        <td>Action</td>
      </tr>
      <% @channels.each do |channel| %>
        <%= content_tag_for(:tr, channel) do %>
          <td><%= channel.id %></td>
          <td><%= link_to channel.name, channel %></td>
          <td><%= channel.edit_times %></td>
          <td>
            <%= link_to '更新', edit_channel_url(channel.id) %>
            <%= link_to '删除', channel, method: 'delete', data: { :confirm => 'Are you sure?' } %>
          </td>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

