<div class="row">
  <%= render 'shared/validate_errors', model: @channel %>

  <div class="col-md-6 col-md-offset-3">

    <%= form_for @channel do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= f.submit :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>
