<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Name: <%= @channel.name %></h2>
  </div>
</div><br/>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to '创建此渠道的 Listing', listings_new_channel_url(@channel), class: 'btn btn-primary' %>
    <%= link_to '返回列表', channels_url, class: 'btn btn-primary' %>
  </div>
</div>
