<div class="row">
  <div class="col-md-offset-3 col-md-6">

    <h1 class="text-center">登陆</h1><br/>

      <%= form_for(:session, url: sessions_url, html: {class: 'form-horizontal'}) do |f| %>
        <div class="form-group">
          <%= f.label :username, class: 'col-sm-2 control-label' %>
          <div class="col-xs-4 col-sm-10">
              <%= f.text_field :username, class: 'form-control', placeholder: '用户名' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.password_field :password, class: 'form-control', placeholder: '密码' %>
          </div>
        </div>
        <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <%= f.submit '登陆', class: 'btn btn-primary' %>
             <%= link_to '注册', signup_url, class: 'btn btn-primary' %>
           </div>
         </div>
      <% end %>
  </div>
</div>