<div class="row">
  <%= render 'shared/validate_errors', model: @listing %>

  <div class="col-md-6 col-md-offset-3">

    <h1>Edit Listing</h1>
    <%= form_for @listing do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :asin %>
        <%= f.text_field :asin, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :channel_id %>
        <%= f.collection_select :channel_id, Channel.all, :id, :name, {}, {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :tags %>
        <%= f.collection_select :tag_ids, Tag.all, :id, :name, {:selected => @listing.tag_ids},
                                {:multiple => true, class: "form-control"} %>
      </div>

      <%= f.submit :class => 'btn btn-default' %>
      <%= link_to '返回列表', listings_url, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
