<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <table class="table table-bordered table-hover table-condensed">
      <tr>
        <td>Title</td>
        <td>Price</td>
        <td>SellerName</td>
        <td>Img</td>
        <td>Product Desc</td>
        <td>Rating Score</td>
        <td>记录时间</td>
      </tr>
      <% @listing_histories.each do |history| %>
        <%= content_tag_for(:tr, history) do %>
          <td><%= history.title %></td>
          <td><%= history.price %></td>
          <td><%= history.seller_name %></td>
          <td><img src="<%= history.main_img_url %>" height="200" width="200"></td>
          <td>
            <%= link_to '点击查看', 'javascript:void(0);', data: {:url => prod_desc_url(history.id)} %>
          </td>
          <td><%= history.rating_score %></td>
          <td><%= history.created_at %></td>
        <% end %>
      <% end %>
    </table>
    <%= paginate @listing_histories %>
  </div>
</div>