<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <%= link_to '创建新 Listing', new_listing_url, class: 'btn btn-success' %>
  </div>
</div><br/>

<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <table class="table table-bordered table-hover table-condensed">
      <tr>
        <td>#ID</td>
        <td>Name</td>
        <td>ASIN</td>
        <td>Tags</td>
        <td colspan="4">Action</td>
      </tr>
      <% @listings.each do |listing| %>
        <%= content_tag_for(:tr, listing) do %>
          <td><%= listing.id %></td>
          <td><%= listing.name %></td>
          <td><%= listing.asin %></td>
          <td>
            <% listing.tags.each do |tag| %>
              <span class="label label-info"><%= tag.name %></span>
            <% end %>
          </td>
          <td>
            <%= link_to '抓取新历史', historys_listing_url(listing.id), method: 'post', remote: true, data: {'disable-with' => "正在抓取..."} %>
            <%= link_to '查看历史', historys_listing_url(listing.id) %>
          </td>
          <td>
            <%= link_to '查看', listing_url(listing.id) %>
          </td>
          <td>
            <%= link_to '更新', edit_listing_url(listing.id) %>
          </td>
          <td>
            <%= link_to '删除', listing, method: 'delete', data: {:confirm => 'Are you sure?'} %>
          </td>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

