$('#crawl_listing').innerText = '抓取新历史';
<% if @listing_history.errors.empty? %>
alert('成功添加一个时间在' + ' <%= @listing_history.created_at %> ' + '的历史')
<% else %>
alert('<%= @listing_history..errors.full_messages.join(', ') %>');
<% end %>