<div class="row">
  <div class="col-md-12">
    <h4>Listing: <%= @listing_history.listing.asin %> -- <%= @listing_history.created_at %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= @listing_history.prod_desc.html_safe %>
  </div>
</div>