<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>查看 Listing 信息</h1>
    <h4>ID: <%= @listing.id %></h4>
    <h4>Name: <%= @listing.name %></h4>
    <h4>ASIN: <%= @listing.asin %></h4>
    <h4>Tags:
      <% @listing.tags.each do |tag| %>
        <span class="label label-info"><%= tag.name %></span>
      <% end %>
    </h4>
  </div>
</div><br/>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to '修改', edit_listing_url(@listing), class: 'btn btn-primary' %>
    <%= link_to '返回列表', listings_url, class: 'btn btn-primary' %>
  </div>
</div>
