<div class="row">
  <%= render 'shared/validate_errors', model: @user %>
  <div class="col-md-offset-3 col-md-6">

    <h1 class="text-center">注册</h1><br/>
    <%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
      <div class="form-group">
         <%= f.label :username, class: 'col-sm-2 control-label' %>
         <div class="col-xs-4 col-sm-10">
             <%= f.text_field :username, class: 'form-control', placeholder: '用户名' %>
         </div>
       </div>

      <div class="form-group">
         <%= f.label :password, class: 'col-sm-2 control-label' %>
         <div class="col-xs-4 col-sm-10">
             <%= f.password_field :password, class: 'form-control', placeholder: '密码' %>
         </div>
       </div>

      <div class="form-group">
         <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
         <div class="col-xs-4 col-sm-10">
             <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '确认密码' %>
         </div>
       </div>

        <%= f.submit '创建', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>