<% [:info, :danger, :warning, :success].each do |type| %>
    <% if flash[type] %>
        <p class="alert text-center alert-<%= type %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= flash[type] %>
        </p>
    <% end %>
<% end %>
