<nav class="navbar navbar-default">
  <div class="controller-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#etracker_navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Brand', root_url, class: 'navbar-brand' %>
    </div>

    <div class="navbar-collapse collapse" id="etracker_navbar">
      <ul class="nav navbar-nav">
        <li class="<%= is_active?('channels') %>">
          <%= link_to '渠道列表', channels_url%>
        </li>
        <li class="<%= is_active?('listings') %>">
          <%= link_to 'Listing 列表', listings_url%>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if signed_in? %>
            <%= link_to '登出', signout_url, method: "delete"%>
          <% else %>
            <%= link_to '登陆', signin_url%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>