<% if model.errors.any? %>
    <div class="col-md-12">
      <div id="error_explanation" class="bg-danger">
        <h2>Oops, 出现了<%= model.errors.count %>个错误</h2>

        <ul>
          <% model.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>