<!DOCTYPE html>
<html>
<head>
  <title>EtrackerDemo</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>
<div class="container-fluid">
  <%= render 'shared/flash_alert' %>
  <%= yield %>
</div>
</body>
</html>
